html,
body {
    height: 100%;
    margin: 0;
}

.notes {
    display: flex;
    height: 100%;
}

.notes * {
    font-family: sans-serif;
}

.notes_sidebar {
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}

.notes_add {
    background: #009578;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes_add:hover {
    background: #00af8c;
}

.notes_list-item {
    cursor: pointer;
}

.notes_list-item--selected {
    background: #eeeeee;
    border-radius: 7px;
    font-weight: bold;
}

.notes_small-title,
.notes_small-updated {
    padding: 10px;
}

.notes_small-title {
    font-size: 1.2em;
}

.notes_small-body {
    padding: 0 10px;
}

.notes_small-updated {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.notes_preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes_title,
.notes_body {
    border: none;
    outline: none;
    width: 100%;
}

.notes_title {
    font-size: 3em;
    font-weight: bold;
}

.notes_body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}
